@font-face {
  font-family: 'vdialogwebfont';
  src: url('../fonts/vdialogwebfont.eot'); /* IE9*/
  src: url('../fonts/vdialogwebfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/vdialogwebfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/vdialogwebfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/vdialogwebfont.svg#vdialogwebfont') format('svg'); /* iOS 4.1- */
}
.vdialogwebfont {
  font-family: "vdialogwebfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  color: #333;
  line-height: 150%;
}
pre {
  background-color: #f9f9f9 !important;
}
a {
  color: #3e7ac0;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
ul.nolist, ol.nolist {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f5f5f5;
}
header h1 {
  margin: 0;
  float: left;
  padding: 10px 15px;
  font-size: 20px;
}
header h1 a {
  display: block;
  color: #333;
  text-decoration: none;
}
header h1 a i.vdialogwebfont {
  font-size: 1.5em;
  margin-right: 10px;
}
header nav {
  margin-left: 220px;
  height: 50px;
}
header nav ul {
  *zoom: 1;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
header nav ul:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
header nav ul li {
  float: left;
  margin-right: 2em;
  line-height: 50px;
  font-weight: bold;
}
header nav ul li a {
  display: block;
  color: #333;
  text-decoration: none;
}
aside {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  border-right: 1px solid #d8d8d8;
  overflow-y: auto;
  background-color: #fff;
}
aside .list {
  padding: 60px 10px 10px;
}
aside section {
  border-bottom: 1px solid #eeeeee;
}
aside section h2 {
  font-size: 14px;
}
aside section em, aside section span {
  display: none;
}
aside section ul, aside section ol {
  padding-left: 1em;
}
aside section:last-child {
  border-width: 0;
}
aside section a {
  text-decoration: none;
}
.main {
  max-width: 1000px;
  margin: 50px auto 0;
  padding: 20px;
}
.main-toggle {
  margin-left: 200px;
}
.main pre.language-javascript {
  border-left: 1px solid #eeeeee;
  background-color: #fefefe;
}
.main a.btn-run {
  display: inline-block;
  background-color: #f0f0f0;
  line-height: 30px;
  padding: 0 1em;
  border: 1px solid #d5d5d5;
  vertical-align: middle;
  border-radius: 3px;
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}
.main h2 {
  font-size: 16px;
}
.main section {
  border-bottom: 1px solid #eeeeee;
}
.main section:last-child {
  border-bottom-width: 0;
}
.main code {
  border-bottom: 1px dotted #ccc;
}
.main pre code {
  border-bottom: none;
}
.main .var-type {
  margin: 0 10px;
  color: #999;
  font-size: .8em;
  font-style: normal;
}
.main .changes time {
  color: #999;
}
footer {
  color: #999;
  padding: 0 40px;
  border-top: 1px solid #ccc;
  text-align: right;
  position: relative;
}
footer .donate {
  display: none;
  position: absolute;
  width: 100px;
  bottom: 30px;
  right: 40px;
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 2px;
  background-color: #fff;
  color: #666;
  z-index: 100;
}
footer .donate:before, footer .donate:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
}
footer .donate:before {
  border-top-color: #ccc;
}
footer .donate:after {
  bottom: -9px;
  border-top-color: #fff;
}
footer .donate img {
  width: 100px;
  display: block;
}
footer:hover .donate {
  display: block;
}
@media screen and (max-width:800px) {
  header {
    position: static;
    overflow: hidden;
  }
  header h1 i.vdialogwebfont {
    display: none;
  }
  header nav {
    margin-left: 80px;
  }
  header nav ul li {
    margin-right: 1em;
  }
  aside {
    position: static;
    width: auto;
    border-right-width: 0;
  }
  aside .list {
    padding-top: 10px;
  }
  .main {
    margin-top: 0;
  }
  .main-toggle {
    margin-left: auto;
  }
}